:root {
  --bg: #04020e;
  --txt: #ffffff;
  --brd: #2c3e50;
  --acc1: #ffd700;
  --acc2: #0ff;
  --acc3: #8a6bff;
  --valid: #0f0;
  --warn: #f00;
  --grd: var(--acc1), var(--acc2), var(--acc3);
  --margin: 24px;
  --border: 2px solid var(--brd);
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--txt);
  fill: var(--txt);
}

h1 {
  font-size: 48px;
}

a,
a:visited {
  color: var(--acc3);
  fill: var(--acc3);
}

a.button {
  border-radius: var(--margin);
  border: var(--border);
  height: 44px;
  padding: 0 14px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: var(--txt);
  fill: var(--txt);
  text-decoration: none;
}

.accent {
  background: -webkit-linear-gradient(var(--grd));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
